.dash-btn button {
    height: 4em;
    width: 100%;
    margin: 1px;
}
.dash-btn{
    margin-top: 2%;
    height: 100%;
    background-color: #0000 !important
}

.dash-btn button{
    margin-top: 4%;
    text-align: center;
    height: 120px;
    width: 100%; 
}

.dash-row {
    margin-top: 2%;
}

.dash-row .card {
    height: 5em;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}
.dash-button button{
    text-align: center;
    height: 80px;
    width: 100%;
    
    
}

